---
---
{%- assign locale = page.locale | default: layout.locale | default: site.locale %}

<!doctype html>
{% include copyright.html %}
<html lang="{{ locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html locale=locale %}
    {% include head/custom.html %}
  </head>
<div style="
  max-width: 700px;
  margin: 30px auto;
  padding: 15px;
  border-radius: 12px;
  background: #fafafa;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  text-align:center;
">
  <h3>Visitors</h3>

  <a href="https://mapmyvisitors.com/web/1c3ap">
    <img src="https://mapmyvisitors.com/map.png?d=9W1daRxUh9JltKg7fGl6VQy74QnNERR7Vk7WPwMQU6U&cl=222222"
         style="max-width: 100%; border-radius: 10px;">
  </a>
</div>
  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include_cached skip-links.html locale=locale %}
    {% include_cached masthead.html locale=locale %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html locale=locale %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html locale=locale %}
      </footer>
    </div>

    {% include scripts.html locale=locale %}
  </body>
</html>
